name: Deploy to Oracle VM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Copy JAR to server
        uses: appleboy/scp-action@v0.1.4
        env:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
        with:
          source: "target/*.jar"
          target: "/opt/app/"

      - name: Restart service
        uses: appleboy/ssh-action@v1.0.3
        env:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_KEY }}
        with:
          script: |
            sudo systemctl restart spring-api
